<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DELTA CMS | SERVERS</title>
        <link rel="stylesheet" href="/css/admin-style.css">
    </head>
<body>

    <%- include('../../modules/navbar') %>

    <div class="content">
        <div class="grid-container">
            <div class="card-c small-card">
                <div class="text"><%=serverCount%></div>
            </div>
            <div class="card-c small-card">
                <div class="text">0</div>
            </div>
            <div class="card-c small-card">
                <div class="text">0</div>
            </div>

            <a href="servers/add" class="button gradient-g">
                Add server
            </a>

            <a href="servers/update" class="button gradient-y">
                Update server
            </a>

            <a href="servers/delete" class="button gradient-r">
                Delete server
            </a>

            <div class="card-s large-card">
                <div class="row-container">
                    <% servers.forEach(function(server) { %>
                        <a href="server/<%= server.id %>"><div class="card-s small-card" style="background-color: #212529;"><%=server.id%> | <%=server.name%></div></a>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>