<%- include('../partials/head-admin') %>

<div class="admin-wrapper">
  <%- include('../partials/sidebar-admin') %>

  <main class="admin-main">
    <div class="admin-container">
      <h1>Подключение к базе данных [<%=settings.module_name%>]</h1>

      <form action="/admin/shopcs2/settings?_method=PUT" method="POST" class="form">
        <div class="form-group">
          <label for="host">Хост</label>
          <input type="text" name="host" id="host" class="form-control" value="<%=settings.host%>" required>
        </div>

        <div class="form-group">
          <label for="user">Пользователь</label>
          <input type="text" name="user" id="user" class="form-control" value="<%=settings.user%>" required>
        </div>

        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="text" name="password" id="password" class="form-control" value="<%=settings.password%>" required>
        </div>

        <div class="form-group">
            <label for="database">База данных</label>
            <input type="text" name="database" id="databse" class="form-control" value="<%=settings.database%>" required>
          </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
      </form>
    </div>
  </main>
</div>

<%- include('../partials/footer-admin') %>