<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DELTA CMS | USERS</title>
        <link rel="stylesheet" href="/css/admin-style.css">
    </head>
<body>

    <%- include('../../modules/navbar') %>

    <div class="content">
        <div class="grid-container">
            <div class="card-c small-card">
                <div class="text"><%=userCount%></div>
            </div>
            <div class="card-c small-card">
                <div class="text"><%=adminCount%></div>
            </div>
            <div class="card-c small-card">
                <div class="text">0</div>
            </div>

            <a href="users/add" class="button gradient-g">
                Add user
            </a>

            <a href="users/update" class="button gradient-y">
                Update user
            </a>

            <a href="users/delete" class="button gradient-r">
                Delete user
            </a>

            <div class="card-s large-card">
                <div class="row-container">
                    <% users.forEach(function(user) { %>
                        <a href="user/<%= user.id %>"><div class="card-s small-card" style="background-color: #212529;"><%=user.id%>. <%=user.login%></div></a>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>