<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DELTA CMS | USERS</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>

    <%- include('../modules/navbar') %>

    <div class="content">
        <div class="grid-container">
            <div class="card-c small-card">
                <div class="text"><%=users.length%></div>
            </div>
            <div class="card-c small-card">
                <div class="text">0</div>
            </div>
            <div class="card-c small-card">
                <div class="text">0</div>
            </div>
            <button class="button">
                Add user
            </button>
            <div class="card-s large-card">
                <div class="row-container">
                    <% users.forEach(function(user) { %>
                        <a href="user/<%= user.id %>"><div class="card-s small-card" style="background-color: #212529;"><%=user.id%> <%=user.username%> <%=user.age%></div></a>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>